<% layout("/layouts/boilerplate") %>
<body>
    <div class="table-responsive  p-4">
      <table class="table table-hover table-bordered border-primary">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">RedgNo</th>
              <th scope="col">Building</th>
              <th scope="col">Room No </th>
              <th scope="col">Floor No</th>
              <th scope="col">Problems</th>
              <th scope="col">Subproblem</th>
              <th scope="col">Description</th>
              <th scope="col">Image</th>
            </tr>
          </thead>
          <tbody>
            <!-- Table rows go here -->
            <% for( let complain of complains ) { %>
              <tr>
                <td><%= complain.name %></td>
                <td><%= complain.redgno %></td>
                <td><%= complain.building%></td>
                <td><%= complain.roomno%></td>
                <td><%= complain.floorno%></td>
                <td><%= complain.problem%></td>
                <td><%= complain.subProblem%></td>
                <td><%= complain.description%></td>
                <td><img src="<%= complain.file%>" style="height: 100px; width: 100px;"></td>
              </tr>
            <% } %>
          </tbody>
         
      </table>
    </div>
</body>
